*{
    margin: 0;
    padding: 0;
}
.navbar {
  width: 100%;
  height: 56px;
  background-color:  rgb(84, 84, 249);
}

.logo {
  font-size: 30px;
  color: white;
  float: left;
  margin: 8px;
}

.menuitems {
  float: right;
  margin-right: 20px;
}

.items {
  display: inline-block;
  position: relative; 
  padding-right: 15px;
  color:white;
}

.navitem {
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 15px;
}

.navitem:hover{
    background-color: blue;
}

.dropdown {
  position: absolute;
  top: 150%;
  display: none;
  background-color: rgb(84, 84, 249);
  width: 160px;
}

.drdown {
  display: block;
  color: white;
  padding: 30px;
  text-align: center;
  cursor: pointer;
  border-bottom: 2px solid white;
}

.drdown:hover {
  background-color: blue;
}


.items:hover .dropdown {
  display: block;
}

.nesteddrop{
    position: relative;
}

.nestedd{
   position: absolute;
   background-color:  rgb(84, 84, 249);
   width: 100px;
   display: none;
   
}

.nest{
    display: block;
    text-align: center;
    transition: .5s;
    border-bottom: 2px solid white;
    padding: 20px;
}

.nesteddrop:hover .nestedd{
    display: block;
    left: 100%;
    top: 0;
  
}

.nest:hover{
     background-color:blue;
}